.banner {
  background-size: cover;
  background-position: center;
  height: 168px;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: sans-serif;
}

.btn-info{
  color: white;
  &:hover{
    color: white;
  }
}

@media (max-width: 540px) {
  .banner{
    height: 180px;
    h1{
      font-size: 24px;
    }
  }

  .btn-info{
    padding: 5px;
    font-size: 12px;
  }
  #banner-typed-text{
    font-size: 24px;
  }
}
