.container-show {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    h2{
      font-family: sans-serif;
      font-weight: bold;
      font-size: 40px;
    }
  }


@media (max-width: 540px) {
  .container-show h2{
    font-size: 24px;
  }
  .btn-warning{
    padding: 5px;
    font-size: 12px;
  }
}
